/*!
 * Variables
 */
 :root {
	--color-white:                      #fff;
	--color-black:                      #222;
	--color-primary:                    #5777ff;
	--color-primary-dark:               #4a65d9;
	--color-bg:                         #f9faff;
	--color-bg-dark:                    #e5e5e5;

	--font-primary:                      "Urbanist", sans-serif;

	--transition-ease-in:                0.2s ease-in;
}
